.hr-style {
  border-top: 3px double #8c8b8b;
}

.dark-bg {
  background-color: rgb(34, 35, 51);
}

.total-page {
  padding: 20px;
  display: flex;
}

.semester-options {
  width: 30%;
  float: left;
  margin: 10px;
  padding: 20px;
}

.contents {
  width: 70%;
  float: left;
  padding: 20px;
}

.ht {
  min-height: 900px;
  height: max-content;
}

.img-sm {
  max-width: 315px;
  width: max-content;
}
